.card {
  @include span-columns(12);
  @include size($height: 435px);
  background-color: $orange;
}

.card::after {
  @include size($height: 100%);
  content: "";
  background: url('../img/rey.jpg');
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

img {
  @include size(80%, auto, auto);
  margin-top: 5%;
  display: block;
  border: 2px solid white;

}

.card-header {
  @include fontface($main-font, $white, 1.09em, 300);
  @include size($margin: 5% 5% 0 5%);
  line-height: 4vh;
  letter-spacing: .5px;
  color: white;

}

.card-comment {
  @include fontface($main-font,  $white, .85em, 25);
  @include size($margin: 5% 5% 0 5%);
}

button {
  @include fontface($main-font,  $white);
  @include size(40%, 8%, 5% 0 0 5%);
  border: 2px solid white;
  border-radius: 20px;
  background-color: darken( $orange, 10% );
}
