.card {
  @include span-columns(12);
  @include size($height: 400px);
  background-color: $orange;
}

.card::after {
  @include size($height: 100%);
  content: "";
  background: url('../img/rey.jpg');
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

img {
  @include size(80%, auto, 5% 0 0 5%);
}

.card-header {
  @include fontface($main-font, 1.09em, 300);
  @include size($margin: 5% 5% 0 5%);
  line-height: 4vh;
  letter-spacing: .5px;

}

.card-comment {
  @include fontface($main-font, .85em, 25);
  @include size($margin: 5% 5% 0 5%);
}

button {
  font-family: $main-font;
  @include size(35%, auto, 5% 0 0 5%);
  border: 2px solid white;
  border-radius: 10px;
  background-color: none;
}
