img {
  @include size(80%, auto, auto);
  margin-top: 5%;
  display: block;
  @include border(2px solid white);
  @include clearfix;
  overflow: hidden;

  @media #{$brk-md}{
    display: none;
  }
}

.card {
  @include span-columns(12);
  @include size($height: 435px);
  background-color: $orange;

  @media #{$brk-md} {
    background-image: url('../img/rey.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  button {
    @include fontface($main-font,  $white);
    @include size(40%, 8%, 5% 0 0 5%);
    @include border(2px solid white, 20px);
    background-color: darken( $orange, 10% );

    @media #{$brk-md} {
      float: right;
      margin-right: 5%;
    }
  }
  .card-header {
    @include fontface($main-font, $white, 1.09em, 300, 4vh, .5px);
    @include size($margin: 5% 5% 5% 5%);

    @media #{$brk-md} {
      @include size(40%, 10%, 5% 5% 5% 5%);
      border-radius: 10px;
      @include fontface($main-font, $white, 1.25em, 300, 2vh, .5px);
      background-color: darken($orange, 15%);
      text-align: center;
    }
  }
  .card-comment {
    @include fontface($main-font, $white, .85em, 25);
    @include size($margin: 5% 5% 5% 5%);

    @media #{$brk-md} {
      @include size(50%, auto, 5% 5% 5% 5%);
      @include fontface($main-font, $white, 1.1em, 25, 2.5vh);
      background-color: darken($orange, 15%);
      border-radius: 10px;
    }
  }
}

.card::after {
  @media #{$brk-mobile} {
    @include size(100%, 450px);
    content: "";
    background: url('../img/rey.jpg');
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

.card-two {
  @include span-columns(12);
  @include size($height: 435px, $margin: 5% 0 0 0);
  background-color: $blue;

  @media #{$brk-md} {
    background-image: url('../img/harry.jpg');
    background-size: cover;
  }

  button {
    @include fontface($main-font,  $white);
    @include size(40%, 8%, 0 0 0 5%);
    @include border(2px solid white, 20px);
    background-color: darken( $blue, 15% );

    @media #{$brk-md} {
      float: right;
      margin-right: 5%;
    }
  }
  .card-header {
    @include fontface($main-font, $white, 1.09em, 300, 4vh, .5px);
    @include size($margin: 5% 5% 5% 5%);

    @media #{$brk-md} {
      @include size(40%, 10%, 5% 5% 5% 5%);
      border-radius: 10px;
      @include fontface($main-font, $white, 1.25em, 300, 2vh, .5px);
      background-color: darken($blue, 20%);
      text-align: center;
    }
  }
  .card-comment {
    @include fontface($main-font,  $white, .85em, 25);
    @include size($margin: 5% 5% 5% 5%);

    @media #{$brk-md} {
      @include size(50%, auto, 5% 5% 5% 5%);
      @include fontface($main-font, $white, 1.1em, 25);

      @media #{$brk-md} {
        @include size(50%, auto, 5% 5% 5% 5%);
        @include fontface($main-font, $white, 1.1em, 25, 2.5vh);
        background-color: darken($blue, 25%);
        border-radius: 10px;
      }
    }
  }
}

.card-two::after {
  @media #{$brk-mobile} {
    @include size(100%, 450px);
    content: "";
    background: url('../img/harry.jpg');
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 450px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

.card-three {
  @include span-columns(12);
  @include size($height: 435px, $margin: 5% 0 0 0);
  background-color: $green;

  @media #{$brk-md} {
    background-image: url('../img/avatar.jpg');
    background-size: cover;
  }


  button {
    @include fontface($main-font,  $white);
    @include size(40%, 8%, 5% 0 0 5%);
    @include border(2px solid white, 20px);
    background-color: darken( $green, 20% );

    @media #{$brk-md} {
      float: right;
      margin-right: 5%;
    }
  }
  .card-header {
    @include fontface($main-font, $white, 1.09em, 300, 4vh, .5px);
    @include size($margin: 5% 5% 5% 5%);
    @include clearfix;
    overflow: hidden;

    @media #{$brk-md} {
      @include size(40%, 10%, 5% 5% 5% 5%);
      border-radius: 10px;
      @include fontface($main-font, $white, 1.25em, 300, 2vh, .5px);
      background-color: darken($green, 20%);
      text-align: center;
    }
  }
  .card-comment {
    @include fontface($main-font, $white, .85em, 25);
    @include size($margin: 5% 5% 5% 5%);

    @media #{$brk-md} {
      @include size(50%, auto, 5% 5% 5% 5%);
      @include fontface($main-font, $white, 1.1em, 25, 2.5vh);
      background-color: darken($green, 15%);
      border-radius: 10px;
    }
  }
}

.card-three::after {
  @media #{$brk-mobile} {
    @include size(100%, 455px);
    content: "";
    background: url('../img/avatar.jpg');
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 900px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

.card-four {
  @include span-columns(12);
  @include size($height: 430px, $margin: 5% 0 0 0);
  background-color: $purple;
  overflow: hidden;
  @media #{$brk-md} {
    background-image: url('../img/doctor-who.jpg');
    background-size: cover;
  }

  button {
    @include fontface($main-font,  $white);
    @include size(40%, 8%, 5% 0 0 5%);
    @include border(2px solid white, 20px);
    background-color: darken( $purple, 20% );

    @media #{$brk-md} {
      float: right;
      margin-right: 5%;
    }
  }
  .card-header {
    @include fontface($main-font, $white, 1.09em, 300, 4vh, .5px);
    @include size($margin: 5% 5% 5% 5%);

    @media #{$brk-md} {
      @include size(40%, 10%, 5% 5% 5% 5%);
      border-radius: 10px;
      @include fontface($main-font, $white, 1.25em, 300, 2vh, .5px);
      background-color: darken($purple, 45%);
      text-align: center;
    }
  }
  .card-comment {
    @include fontface($main-font,  $white, .85em, 25);
    @include size($margin: 5% 5% 5% 5%);

    @media #{$brk-md} {
      @include size(50%, auto, 5% 5% 5% 5%);
      @include fontface($main-font,  $white, 1.1em, 25, 2.5vh);
      background-color: darken($purple, 60%);
      border-radius: 10px;
    }
  }
}

.card-four::after {
  @media #{$brk-mobile} {
    @include size(100%, 450px);
    content: "";
    background: url('../img/doctor-who.jpg');
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 1350px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}
