@mixin size($width: null, $height: null, $margin: null, $padding: null) {
  width: $width;
  height: $height;
  margin: $margin;
  padding: $padding;
}

@mixin fontface($main-font, $font-size: null, $font-weight: null) {
  font-family: $main-font;
  font-size: $font-size;
  font-size: $font-weight; 

}
