@mixin size($width: null, $height: null, $margin: null, $padding: null) {
  width: $width;
  height: $height;
  margin: $margin;
  padding: $padding;
}

@mixin fontface($main-font, $font-color, $font-size: null, $font-weight: null, $line-h: null, $line-spc: null) {
  color: $font-color;
  font-family: $main-font;
  font-size: $font-size;
  font-size: $font-weight;
  line-height: $line-h;
  letter-spacing: $line-spc;
}

@mixin border($brd: null, $radius: null) {
  border: $brd;
  border-radius: $radius;  
}
